
    <div class="row">
        <div id="sidebar" class="col-sm-4" >
            <div class="panel-group" id="menu">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-target="#image" href="/#/dashboard">
                             {{"index.Dashboard" | translate}}
                            </a>
                        </h4>
                    </div>
                </div>
                  <div class="panel panel-default">
	                    <div class="panel-heading">
	                        <h4 class="panel-title" data-toggle="collapse" data-target="#compute">
	                            {{"index.Compute" | translate}}
	                        </h4>
	                    </div>
	                    <div id="compute" class="panel-collapse collapse in">
	                        <div class="panel-body">
	                            <div class="list-group">
	                                <a href="/#/pubAccount" class="list-group-item"> 
	                                    <i class="fa fa-fw fa-sm fa-windows"></i>
	                                    <span class="menu-name">账户管理</span>&nbsp;
	                                </a>
	                                <a href="/#/vmInstance" class="list-group-item">
	                                    <i class="fa fa-fw fa-sm fa-laptop"></i>
	                                    <span class="menu-name"> 云主机</span>&nbsp;
	                                </a>
	                                <a href="/#/imagepub" class="list-group-item">
	                                    <i class="fa fa-fw fa-sm fa-th"></i>
	                                    <span class="menu-name"> 镜像</span>&nbsp;
	                                </a>
	                                <a href="/#/zone" class="list-group-item">
	                                    <i class="fa fa-fw fa-sm fa-cloud"></i>
	                                    <span class="menu-name"> 区域</span>&nbsp;
	                                </a>
	                            </div>
	                        </div>
	                    </div>
	                  </div>
         
            </div>

        </div>

        <div ng-cloak class="ng-cloak">
            <div class="col-sm-20">
                <div ng-view=""></div>
            </div>
        </div>
    </div>

